# Ignorar archivos sensibles y carpetas de dependencias
backup.zip
/vendor/
/node_modules/
/.env
/config.php

# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db
*.log

# Ignorar archivos de caché
/cache/


1_bd/
2/
